#foo {
  position: relative;
  width: 100%;
  height: 500px;

  .slides {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;

    .slide {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }

  // btns
  .nextBtn,
  .prevBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      pointer-events: none;
      width: 20px;
      position: relative;
      top: 2px;
      fill: white;
    }
  }

  .nextBtn {
    right: 0;
  }

  .prevBtn {
    left: 0;
  }

  // dots
  .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: fit-content;

    span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(white, 0.5);
      display: inline-block;
      cursor: pointer;
      margin: 2.5px;

      &.active {
        background-color: white;
      }
    }
  }
}